.kebab-icon {
    font-weight: bold;
    font-size: 20px;
    padding: 0 4px;
    cursor: pointer;
}
.wrapper {
    position: relative;

}
.menu-container {
    background: white;
    width: 60px;
    min-height: 20px;
    position: absolute;
    top: 4px;
    left: 16px;
    padding: 12px;

}