.list-wrapper {
    height: 100%;
    padding: 10px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 1px #aaa;
    margin: 0 10px;
}
.list-wrapper h3 {
    font-weight: normal;
    margin: 0;
    font-size: 1em;
    
}
.list-header,   
.complete-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.incomplete-task,
.complete-task {
    width:100%;
    display: flex;
    flex-direction: column;
    margin:16px 0;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

.up {
    transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
  }
.complete-task-list.show {
    display: block;
}
.complete-task-list.hide {
    display: none;
}