
* {
  box-sizing: border-box;
}
.app-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin:50px 100px;
}
